{% extends 'base.html' %}
{% block content %}
<div class="container main-content">
    <h1>Zwrot biletów</h1>
    <p>Sprawdź, ile otrzymasz pieniędzy po zwróceniu biletu ZTM</p>

    <div class="alert alert-info" role="alert">
        Jeżeli nie pamiętasz daty aktywacji biletu, podaj do kiedy bilet jest ważny i okres obowiązywania biletu (30/90 dni).
    </div>

    <div class="form">
        <form method="POST">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="{{ form.start_date.id_for_label }}">Kiedy aktywowałeś bilet?</label>
                    {{ form.start_date }}
                </div>
                <div class="form-group col-md-6">
                    <label for="{{ form.stop_date.id_for_label }}">Do kiedy bilet jest ważny?</label>
                    {{ form.stop_date }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="{{ form.period.id_for_label }}">Okres obowiązywania biletu</label>
                    {{ form.period }}
                </div>
                <div class="form-group col-md-6">
                    <label for="{{ form.cancel_date.id_for_label }}">Data anulowania biletu</label>
                    {{ form.cancel_date }}
                </div>
            </div>
          <button type="submit" class="btn btn-light">Oblicz kwotę zwrotu</button>
        </form>
    </div>
</div>

{% endblock %}